# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# MNIST dataset
mnist/data/*
!mnist/data/.gitkeep

# Model weights
mnist/models/*
!mnist/models/.gitkeep
*.pth
*.pt

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
